<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Mis propiedades</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <mat-icon color="accent" class="logo-icon">home</mat-icon>
      </div>
      <div class="card-details">
        <p class="status">
          <mat-icon color="primary">add_location_alt</mat-icon>
          Registrar propiedad
        </p>
        <p class="status">
          <mat-icon color="primary">list_alt</mat-icon>
          Ver propiedades
        </p>
        <button mat-raised-button color="primary" routerLink="/property-management">
          Gestionar Propiedades
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
