<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Bienvenido, <span class="highlight">{{ userName }}</span></h1>
    <p>Revisa el estado de tus propiedades, solicitudes y servicios.</p>
  </div>

  <div class="switch-button-container">
    <button mat-raised-button color="primary" (click)="goToTechnicianDashboard()">
      Ir a Vista Técnico
    </button>
  </div>

  <div class="dashboard-grid">
    <app-requests-card></app-requests-card>
    <app-services-card></app-services-card>
    <app-properties-card></app-properties-card>
  </div>
</div>
