<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Solicitudes de servicio</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <mat-icon color="accent" class="logo-icon">assignment</mat-icon>
      </div>
      <div class="card-details">
        <p class="status">
          <mat-icon color="primary">add_circle_outline</mat-icon>
          Crear nueva solicitud
        </p>
        <p class="status">
          <mat-icon color="primary">visibility</mat-icon>
          Ver mis solicitudes
        </p>
        <button mat-raised-button color="primary" routerLink="/requests">
          Gestionar Solicitudes
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
