<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Historial de servicios</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="card-body">
      <div class="card-logo">
        <mat-icon color="accent" class="logo-icon">history</mat-icon>
      </div>
      <div class="card-details">
        <p class="status">
          Último servicio: Instalación en curso - 23/05/2025
        </p>
        <button mat-raised-button color="primary" routerLink="/services">
          Ver historial
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>